<div>
{{input type="text" placeholder="New Workout" value=name}}
{{input type="date" value=date}}
{{input type="text" placeholder="description" value=descr}}
</div>
<button {{action "addWorkout"}}>Submit</button>
<br/>
{{lift-entry store=store newentry='addEntry'}}

