<div>
{{input type="text" placeholder="New Workout" value=name}}
{{input type="date" value=date}}
{{input type="text" placeholder="description" value=descr}}
</div>
{{search-box model="excercise" value=ep}}
<button {{action "addWorkout"}}>Submit</button>

